<h1>show album</h1>
<%= @album.title %>
<%= @album.year %>
<%= @album.band.name %>
<h2>Tracks</h2>
<ol>
<% @album.tracks.order(:ord).each do |track|  %>
  <li><a href="<%= track_url(track) %>"><%= track.title %></a></li>
<% end %>
</ol>

<a href=" <%= new_track_url %>">Add new track</a>
