<h1>Edit existing cat</h1>
<%= render 'form', cat: @cat, action: 'edit' %>
<!-- action: url to send data -->
<!-- method: the http method to be used -->
<!-- <form action=" <%= cats_url(@cat) %>" method="post"> -->
  <!-- Cannot do patch requests in HTML forms -->
  <!-- <input type="hidden" name="_method" value="patch">
  <label for="cat_name">Cat name</label> -->
  <!-- name gives the parameter that you are passing to the model -->
  <!-- <input id="cat_name" type="text" name="cat[name]" value="<%= @cat.name %>">

  <select name="cat[color]">
    <option disabled>Pick Color</option>
    <option value="red" <%= @cat.color == "red" ? "selected" : "" %> >Red</option>
    <option value="green" <%= @cat.color == "green" ? "selected" : "" %>>Green</option>
    <option value="blue" <%= @cat.color == "blue" ? "selected" : "" %>>Blue</option>
  </select>
  <input type="submit" value="Update Cat">
</form> -->
